h1 {
	color: #0000FF;
}

body {
	background: #FFE4C4;
}

.one {
	color: rgba(0,0,255, .3);
}

#sectionOne {
	color: #CD5C5C;
}

main div {
	color: #0000FF;
}

p {
	color: #008080;
}

nav, ul {
	background: #DEB887;
	color: #FFF8DC;
}